body {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0px;
    font-size: 2vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 20%;
}

ul {
    margin: 0px;
}

body > header { 
    background-color: rgb(2, 2, 51);
    color: turquoise;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
}


body > header > nav > ul {
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
}

.navbutton {
    color: turquoise;
    text-decoration: none;
    padding: 12px;
    border: 1px solid turquoise;
    border-radius: 20%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#background {
    margin: 0px;
    background-color: rgb(2, 2, 51)
    ;
}

#photos {
    display: grid;
    grid-template-areas: 
    "pic1 pic2 pic3"
    "pic4 pic5 pic6"
    "pic7 pic8 pic9" ;

}

img {
    border-radius: 5%;
    width: 30vw;
    height: 30vw;
    align-items: center;

}

#pic1 { 
    grid-area: pic1;
}
#pic2 { 
    grid-area: pic2;
}
#pic3 { 
    grid-area: pic3;
}
#pic4 { 
    grid-area: pic4;
}
#pic5 { 
    grid-area: pic5;
}
#pic6 { 
    grid-area: pic6;
}
#pic7 { 
    grid-area: pic7;
}
#pic8 { 
    grid-area: pic8;
}
#pic9 { 
    grid-area: pic9;
}

#send {
    color: aliceblue;
    list-style: none;
    text-decoration: none;
}

#endfoot {
    background-color: aliceblue;
    margin: 0px;
}

#logo2 {
    font-family: "Fredoka One";
    color: rgb(2, 2, 51);

}

.linx {
    list-style: none;
    color: aliceblue;
}

.links2  {
    list-style: none;
    color: rgb(2, 2, 51);
}